@charset "utf-8";
// Import a Google Font
/* roboto-slab-100 - latin */
/* roboto-slab-100 - latin */
// @font-face {
//     font-family: 'Roboto Slab';
//     font-style: normal;
//     font-weight: 100;
//     src: local(''),
//          url('fonts/roboto-slab-v12-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//          url('fonts/roboto-slab-v12-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//   }
//   /* roboto-slab-300 - latin */
//   @font-face {
//     font-family: 'Roboto Slab';
//     font-style: normal;
//     font-weight: 300;
//     src: local(''),
//          url('fonts/roboto-slab-v12-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//          url('fonts/roboto-slab-v12-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//   }
//   /* roboto-slab-regular - latin */
//   @font-face {
//     font-family: 'Roboto Slab';
//     font-style: normal;
//     font-weight: 400;
//     src: local(''),
//          url('fonts/roboto-slab-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//          url('fonts/roboto-slab-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//   }
// Set your brand colors
$purple: #6c63ff;
// Update Bulma's global variables
$primary: $purple;
$link: $primary;
// $family-sans-serif: "Roboto Slab", sans-serif;
$input-shadow: none;
// $input-focus-border-color: $primary;
$input-shadow: none;

// Update some of Bulma's component variables

// Import only what you need from Bulma
.columns.is-vcentered {
    -webkit-box-align: center;
   -ms-flex-align: center;
      align-items: center;
}

$navbar-breakpoint: 0;
@import "bulma/bulma.sass";